

@mixin flex($jc:center,$ai:center){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin underlineEffect {
    position: relative;
    &:hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: black;
    }
  }






// @mixin underlineEffect($element){
//  #{$element}:hover::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 2px;
//     background-color: black;
// }  
// }