@import "../../scss/abstract/_mixins.scss";

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
background-color: black;
z-index: 20;
  & .footer-container {

    @include flex();
    padding: 1rem;

    & .icons{
        color: white;
        font-size: xx-large;
        @include flex();
        cursor: pointer;
    }
    .footer-logo {

      img {
       @include img($w:20rem); 
      } 
    //   height: 1rem;
    }
  }
}
