@import "../../scss/abstract/_mixins.scss";

.header-container {
  // @include flex(space-between, center);
  height: 100px;
  flex-direction: column;
  position: sticky;

  &.modal-active {
    .modal {
      width: 400px;
      z-index: 1000;
    }
  }

  & .container {
    @include flex(space-between, center);
    margin: 0.5rem;

    & .nav-icons {
      display: flex;
      gap: 0.5rem;
    }

    & .divider {
      border: 2px solid darkgray;
    }

    & .nav-icos {
      // @include flex(center,center)
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .avatar-container {
      position: relative;

      & .avatar-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        color: white;
        background-color: darkslateblue;
        border-radius: 0.5rem;
        & li {
          margin-top: 0.5rem;
        }

        & a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  & .main-ul {
    @include flex(space-between, center);
    width: 550px;
    margin: auto;
    // list-style: none;
    padding: 0;
    position: relative;
    // display: inline-block;
    // display: flex;
    //     & :first-child:hover::after{
    // content: "";
    // width:100vw;
    // position: absolute;
    // top: 150%;
    // right: 0;
    // left: 0;
    // background-color: blanchedalmond;
    // height: 350px;

    //     }
    & li {
      @include underlineEffect;
      margin: 1rem;
      position: relative;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: coral;
        }
      }
      ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 400px;
        background-color: whitesmoke;
      }

      &:hover {
        ul {
          display: block;
          position: absolute;
          top: 100%;
          height: 100vh;
          z-index: 10;
          color: red;
        }
      }
    }

    & .categories{
@include grid();
    }
  }
  & .modal {
    height: 100vh;
    width: 0;
    position: absolute;
    background-color: whitesmoke;
    right: 0;
    top: 0;
    overflow: hidden;
    transition: width 3s ease;
    text-align: center;

    & .close {
      position: relative;
      top: 10;

      right: 10;
    }

    & .modal-container {
      margin-top: 3rem;
      ul {
        @include flex($jc: start, $g: 3rem);
        flex-direction: column;
        margin: 4rem;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
