@import "../../scss/abstract/_mixins.scss";

.header-container {
  // @include flex(space-between, center);
  flex-direction: column;
position: sticky;
  
  &.modal-active {
     .modal {
        width: 400px; 
       z-index: 1000;
    }
   
  }

  & .container {
    
    @include flex(space-between,center);
    margin: 2rem;

    & .nav-icons{
      display: flex;
      gap: .5rem;

    }

    & .divider {
      border: 2px solid darkgray
    }

    & .nav-icos{
      // @include flex(center,center)
      display: flex;
      justify-content: center;
      align-items: center;
    }


    & .avatar-container {
      position: relative;

      & .avatar-dropdown {
      position: absolute;
      top: 100%;
      left: 0;

      & li {
        margin-top: .5rem;
       
      }

      & a {
        text-decoration: none;
      }
    } 
    }
   
  }

  & .main-ul {
    @include flex(space-between, center);
    width: 550px;
    margin: auto;
    // list-style: none;
    padding: 0;
    position: relative;
    // display: inline-block;
    // display: flex;
//     & :first-child:hover::after{
// content: "";
// width:100vw;
// position: absolute;
// top: 150%;
// right: 0;
// left: 0;
// background-color: blanchedalmond;
// height: 350px;


//     }
    & li {
      @include underlineEffect;
      margin: 1rem;
      position: relative;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          color: coral;
        }
      }
      ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
      }

      &:hover {
        ul {
          display: block;
          position: absolute;
          top: 100%;
        }
      }
    }
  }
  & .modal {
    height: 100vh;
    width: 0;
    position: absolute;
    background-color: aqua;
    right: 0;
    top: 0;
    overflow: hidden;
    transition: width 3s ease;

  }
 

  
}
