@import "../../scss/abstract/_mixins.scss";

.about-us-container {
@include flex();
padding: 1rem;

& .about-us {
    @include flex();
    flex-direction: column;
}

 img {
    @include img();
    height: 80vh;
 }
}